.profile {
  margin-top: 80px;
  border: solid 1px rgb(209, 220, 241);
  border-radius: 8px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 400px;
  align-items: center;
  font-size: 36px;
  color: rgb(33, 35, 66);
  margin-bottom: 20px;
}

.avatar {
  width: 200px;
  margin-top: 40px;
  border-radius: 50%;
  border: solid 1px rgb(209, 220, 241);
  padding: 4px;

}

.name {
  margin: 0;
}

.tag,
.location {
  font-size: 24px;
  color: rgb(102, 102, 160);
  margin: 0;
}

.stats {
  display: flex;
  margin: 0;
  padding: 0;
}

.label {
  color: rgb(102, 102, 160);
}

.quantity {
  font-weight: 700;
  color: rgb(33, 35, 66);
}

.item {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: calc(100% / 3);
  padding: 20px;
  background-color: rgb(209, 220, 241);
}

.item-views {
  border-inline: solid 1px rgb(171, 173, 207)
}

.item-likes {
  border-radius: 0 0 8px 0;
}

.item-followers {
  border-radius: 0 0 0 8px;
}