.friend-list-section {
    min-width: 400px;
}

.friend-list {
    margin: 0;
    padding: 0;
}

.item-friend-list {
    display: flex;
    align-items: center;
    gap: 48px;
    border: solid 1px rgb(209, 220, 241);
    border-radius: 8px;
    padding: 20px 40px;
    margin-top: 20px;
    list-style: none;
}

.name-friend-list {
    margin: 0;
    font-size: 24px;
    color: rgb(33, 35, 66);
}

.online-status {
    font-size: 16px;
}