.friend-list {
    width: 400px;
    padding: 0;
    border-radius: 8px;
    border: solid 1px rgb(209, 220, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px
}

.item-friend-list {
    padding: 12px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: solid 1px rgb(209, 220, 241);
}

.item-friend-list:first-child .avatar-friend-list {
    margin-left: 24px;
}

.item-friend-list:first-child {
    margin-top: 20px;
}

.item-friend-list:last-child {
    margin-bottom: 20px;
}

.avatar-friend-list {
    padding: 8px;
    border-radius: 4px;
    border: solid 1px rgb(209, 220, 241);
}

.name-friend-list {
    margin-right: 20px;
    font-size: 20px;
    color: rgb(33, 35, 66);
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 20px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}